## librerias requeridas instalar vía pip o easy_install
Django==1.8.11
Pillow==3.1.1
django-tinymce==2.3.0
xhtml2pdf==0.0.6
dj-database-url==0.2.2
dj-static==0.0.6
gunicorn==18.0
psycopg2==2.5.2
static==1.0.2
wsgiref==0.1.2
