{% extends 'template.html' %}

{%  block content %}

    <ol class="breadcrumb">
        <li><a href="index.html">inicio</a></li>
        <li class="active">Acerca de </li>
    </ol>


<div class="container" >
    <div id="fondo" class="jumbotron">
        <h3> </h3>
        <p>CursoShop es una plataforma de tienda virtual creada para que el usuario pueda adquirir diversos  cursos
            muy practicos, que le ayudaran en su desarrollo o vida laboral diaria </p>
    </div>
    <h4>Los encargados de que esto ande bien, son: </h4>
    <br/>

    <div class="row">
        <div class="col-md-4">
            <img src="static/img/no-photo.jpg" alt="foto" class="img-circle img-center" height="100px" >
            <h3 class="text-center">Andrea Lopez</h3>

            <p>Algo acerca de ...</p>
            <div class="row ">
              <div class="col-sm-2"> </div>
              <div class = "col-sm-4"><img src ="static/img/facebook.png" alt="facebook"/>/account</div>
              <div class = "col-sm-4"><img src ="static/img/twitter.png" alt="twitter"/>@account</div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="static/img/no-photo.jpg" alt="foto" class="img-circle img-center" height="100px" >
            <h3 class="text-center">Darwin Muñoz</h3>

            <p>BackEnd-Developer and DevOps. Padre de Juanita. Me gusta el software libre y otras hierbas</p>
            <div class="row ">
              <div class="col-sm-2"> </div>
              <div class = "col-sm-4"><img src ="static/img/facebook.png" alt="facebook"/>/darghex</div>
              <div class = "col-sm-4"><img src ="static/img/twitter.png" alt="twitter"/>@darghex</div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="static/img/no-photo.jpg" alt="foto" class="img-circle img-center" height="100px" >
            <h3 class="text-center">Cristian Pulido</h3>

            <p>Algo acerca de ...</p>
            <div class="row ">
              <div class="col-sm-2"> </div>
              <div class = "col-sm-4"><img src ="static/img/facebook.png" alt="facebook"/>/account</div>
              <div class = "col-sm-4"><img src ="static/img/twitter.png" alt="twitter"/>@account</div>
            </div>
        </div>
    </div>
    <br/></br>
    <div class="row">
      <div class="col-md-4">
          <img src="static/img/no-photo.jpg" alt="foto" class="img-circle img-center" height="100px" >
          <h3 class="text-center">Julian Guzman</h3>

          <p>Algo acerca de ...</p>
          <div class="row ">
            <div class="col-sm-2"> </div>
            <div class = "col-sm-4"><img src ="static/img/facebook.png" alt="facebook"/>/account</div>
            <div class = "col-sm-4"><img src ="static/img/twitter.png" alt="twitter"/>@account</div>
          </div>
      </div>
      <div class="col-md-4">
          <img src="static/img/no-photo.jpg" alt="foto" class="img-circle img-center" height="100px" >
          <h3 class="text-center">Maria Castañeda</h3>

          <p>Algo acerca de ...</p>
          <div class="row ">
            <div class="col-sm-2"> </div>
            <div class = "col-sm-4"><img src ="static/img/facebook.png" alt="facebook"/>/account</div>
            <div class = "col-sm-4"><img src ="static/img/twitter.png" alt="twitter"/>@account</div>
          </div>
      </div>
      <div class="col-md-4">
          <img src="static/img/no-photo.jpg" alt="foto" class="img-circle img-center" height="100px" >
          <h3 class="text-center">Angie Espitia</h3>

          <p>Algo acerca de ...</p>
          <div class="row ">
            <div class="col-sm-2"> </div>
            <div class = "col-sm-4"><img src ="static/img/facebook.png" alt="facebook"/>/account</div>
            <div class = "col-sm-4"><img src ="static/img/twitter.png" alt="twitter"/>@account</div>
          </div>
      </div>
        </div>
<br/></br>
    <div class="row">
      <div class="col-md-4">
          <img src="static/img/no-photo.jpg" alt="foto" class="img-circle img-center" height="100px" >
          <h3 class="text-center">Andres Patiño</h3>

          <p>Algo acerca de ...</p>
          <div class="row ">
            <div class="col-sm-2"> </div>
            <div class = "col-sm-4"><img src ="static/img/facebook.png" alt="facebook"/>/account</div>
            <div class = "col-sm-4"><img src ="static/img/twitter.png" alt="twitter"/>@account</div>
          </div>
      </div>
      <div class="col-md-4">
          <img src="static/img/no-photo.jpg" alt="foto" class="img-circle img-center" height="100px" >
          <h3 class="text-center">Marcela Tangerife</h3>

          <p>Algo acerca de ...</p>
          <div class="row ">
            <div class="col-sm-2"> </div>
            <div class = "col-sm-4"><img src ="static/img/facebook.png" alt="facebook"/>/account</div>
            <div class = "col-sm-4"><img src ="static/img/twitter.png" alt="twitter"/>@account</div>
          </div>
      </div>
      <div class="col-md-4">
          <img src="static/img/no-photo.jpg" alt="foto" class="img-circle img-center" height="100px" >
          <h3 class="text-center">Felipe Esquivel</h3>

          <p>Algo acerca de ...</p>
          <div class="row ">
            <div class="col-sm-2"> </div>
            <div class = "col-sm-4"><img src ="static/img/facebook.png" alt="facebook"/>/account</div>
            <div class = "col-sm-4"><img src ="static/img/twitter.png" alt="twitter"/>@account</div>
          </div>
      </div>
    </div>
    <br/></br>
    <div class="center-block" >
      <div class="col-md-4">
          <img src="static/img/no-photo.jpg" alt="foto" class="img-circle img-center" height="100px" >
          <h3 class="text-center">David Reyes</h3>

          <p>El bebelon del grupo</p>
          <div class="row ">
            <div class="col-sm-2"> </div>
            <div class = "col-sm-4"><img src ="static/img/facebook.png" alt="facebook"/>/account</div>
            <div class = "col-sm-4"><img src ="static/img/twitter.png" alt="twitter"/>@account</div>
          </div>
      </div>
      <div class="col-md-4">
          <img src="static/img/no-photo.jpg" alt="foto" class="img-circle img-center" height="100px" >
          <h3 class="text-center">Jhon Palma</h3>

          <p>El ausente del grupo</p>
          <div class="row ">
            <div class="col-sm-2"> </div>
            <div class = "col-sm-4"><img src ="static/img/facebook.png" alt="facebook"/>/account</div>
            <div class = "col-sm-4"><img src ="static/img/twitter.png" alt="twitter"/>@account</div>
          </div>
      </div>
</div><!-- container -->
{% endblock %}
