{% extends 'template.html' %}
{%  block content %}

    <ol class="breadcrumb">
        <li><a href="#">Inicio</a></li>
        <li class="active">Resultados de la búsqueda</li>
    </ol>

    <div class="alert alert-success" role="alert">
        {% if cursos.count == 1 %}
        <p class="alert-link">Resultados encontrados por "{{ filtro }}"  {{ cursos.count }} curso disponible</p>

        {% elif cursos.count > 1 %}
        <p class="alert-link">Resultados encontrados por "{{ filtro }}"  {{ cursos.count }} cursos disponibles</p>
        {% else%}
        <p class="alert-link">En total {{ cursos.count }} disponibles</p>
        {% endif %}


    </div>

    <div class="row placeholders">
       {% for curso in cursos %}

        <div class="col-sm-3 placeholder">
            <img src="/static/{{ curso.image }}" width="150" height="150" class="img-thumbnail" alt="Generic placeholder thumbnail">
            <h4 ><a href="contenido.html">{{ curso.name }}</a></h4>
            <span class="text-muted">${{ curso.price }}</span>
        </div>
        {% endfor %}

    </div><!-- row -->



</div><!--container -->

<div class="pagination-centered">
    <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div><!-- container -->

{% endblock %}
