{% extends 'template.html' %}
{%  block content %}

    <ol class="breadcrumb">
        <li><a href="#">Inicio</a></li>
        <li class="active">Resultados de la búsqueda</li>
    </ol>

    <div class="alert alert-success" role="alert">
        <p class="alert-link">Su búsqueda ha arrojado los siguientes resultados!</p>
    </div>



    <div class="row placeholders">
        <div class="col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="150" height="150" class="img-thumbnail" alt="Generic placeholder thumbnail">
            <h4 ><a href="contenido.html">Curso de Lógica de programación</a></h4>
            <span class="text-muted">$0,00</span>
        </div>
        <div class="col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="150" height="150" class="img-thumbnail" alt="Generic placeholder thumbnail">
            <h4 >Curso de FrontEnd con BootStrap</h4>
            <span class="text-muted">$0,00</span>
        </div>
        <div class="col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="150" height="150" class="img-thumbnail" alt="Generic placeholder thumbnail">
            <h4 >Curso de BackEnd Laravel PHP</h4>
            <span class="text-muted">$0,00</span>
        </div>
        <div class="col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="150" height="150" class="img-thumbnail" alt="Generic placeholder thumbnail">
            <h4 >Curso de BackEnd Django python</h4>
            <span class="text-muted">$0,00</span>
        </div>
    </div><!-- row -->

    <div class="row placeholders">
        <div class="col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="150" height="150" class="img-thumbnail" alt="Generic placeholder thumbnail">
            <h4 >Curso de Lógica de programación</h4>
            <span class="text-muted">$0,00</span>
        </div>
        <div class="col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="150" height="150" class="img-thumbnail" alt="Generic placeholder thumbnail">
            <h4 >Curso de FrontEnd con BootStrap</h4>
            <span class="text-muted">$0,00</span>
        </div>
        <div class="col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="150" height="150" class="img-thumbnail" alt="Generic placeholder thumbnail">
            <h4 >Curso de BackEnd Laravel PHP</h4>
            <span class="text-muted">$0,00</span>
        </div>
        <div class="col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="150" height="150" class="img-thumbnail" alt="Generic placeholder thumbnail">
            <h4 >Curso de BackEnd Django python</h4>
            <span class="text-muted">$0,00</span>
        </div>
    </div><!-- row -->


</div><!--container -->

<div class="pagination-centered">
    <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div><!-- container -->

{% endblock %}
