{% extends 'template.html' %}
{%  block content %}

    <ol class="breadcrumb">
        <li><a href="#">Inicio</a></li>
        <li class="active">Resultados de la búsqueda</li>
    </ol>

    <div class="alert alert-success" role="alert">
        {% if cursos.count == 1 %}
        <p class="alert-link">Resultados encontrados por "{{ filtro }}"  {{ cursos.count }} curso disponible</p>

        {% elif cursos.count > 1 %}
        <p class="alert-link">Resultados encontrados por "{{ filtro }}"  {{ cursos.count }} cursos disponibles</p>
        {% else%}
        <p class="alert-link">En total {{ cursos.count }} disponibles</p>
        {% endif %}


    </div>

    <div class="row placeholders">
       {% for curso in cursos %}

        <div class="col-sm-3 placeholder">
            <img src="/static/{{ curso.image }}" width="150" height="150" class="img-thumbnail" alt="Generic placeholder thumbnail">
            <h4 ><a href="contenido.html">{{ curso.name }}</a></h4>
            <span class="text-muted">${{ curso.price }}</span>
        </div>
        {% endfor %}

    </div><!-- row -->



</div><!--container -->

<div class="pagination-centered">
    <nav>
        <ul class="pagination">
            <li>
              {% if cursos.has_previous %}
                <a href="{% url 'search' %}?filter={{filtro}}&page={{ cursos.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
              {% else %}
              <a href="{% url 'search' %}?filter={{filtro}}&page=1" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
              </a>
              {% endif %}
            </li>
            {% for page in paginador.page_range %}
            <li><a href="{% url 'search' %}?filter={{filtro}}&page={{ page }}">{{ page}}</a></li>
            {% endfor %}
            <li>
                {% if cursos.has_next %}
                <a href="{% url 'search' %}?filter={{filtro}}&page={{ cursos.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {% else %}
                <a href="{% url 'search' %}?filter={{filtro}}&page={{ paginador.num_pages }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {% endif%}
            </li>
        </ul>
    </nav>
</div><!-- container -->

{% endblock %}
