{% extends 'template.html' %}
{% block content %}
    <ol class="breadcrumb">

        <li class="active">Login</li>
    </ol>

    {% if error %}
      <div class="alert alert-danger"> {{ error }} </div>
    {% endif %}

    <div class="box_signin">
      <div class="row">
        <div class="col-md-3"></div>
          <div class="col-md-6">
            <form class="form-signin" action="" method="post" >
              {% csrf_token %}
                <h2 class="form-signin-heading text-center">Ingresar</h2>
                <hr />
                <p>¿Todavía no te has registrado? <a href="{% url 'register' %}">Regístrate!</a></p>
                <div class="form-group">
                <label for="id_usuario" class="sr-only">Usuario</label>

                <input type="text" id="id_usuario" name="usuario" class="form-control" placeholder="Usuario" required="" autofocus="">

                <label for="id_clave" class="sr-only">Contraseña</label>

                <input type="password" name="clave" id="id_clave" class="form-control" placeholder="Contraseña" required="">

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Recordarme
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block"  id="btnEnviar" type="submit">Ingresar</button>
              </div>
            </form>
            <p >¿olvidaste tu contraseña? <a href="#">Recuerdala</a></p>

          </div><!-- col -->
          </div><!-- row-->
      </div><!--box_signin -->

{% endblock %}
