{% extends 'template.html' %}
{% block content %}
    <ol class="breadcrumb">

        <li class="active">Login</li>
    </ol>

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Ha ocurrido un error por favor corrija lo que se menciona a continuación:
        {{ form.non_field_errors }}
    </div>
    {% endif %}
    <div class="box_signin">
      <div class="row">
        <div class="col-md-3"></div>
          <div class="col-md-6">
            <form class="form-signin" action="" method="post" >
              {% csrf_token %}
                <h2 class="form-signin-heading text-center">Ingresar</h2>
                <hr />
                <p>¿Todavía no te has registrado? <a href="registrarse.html">Regístrate!</a></p>
                <div class="form-group">
                <label for="{{ form.usuario.if_for_label}}" class="sr-only">Usuario</label>

                <input type="text" id="{{ form.usuario.if_for_label}}" name="{{ form.usuario.name}}" class="form-control" placeholder="Usuario" required="" autofocus="">
                {% if form.usuario.errors %}
                <div class="alert alert-danger">{{ form.usuario.errors }}</div>
                {% endif %}
                <label for="{{ form.clave.if_for_label}}" class="sr-only">Contraseña</label>

                <input type="password" name="{{ form.clave.name}}" id="{{ form.clave.if_for_label}}" class="form-control" placeholder="Contraseña" required="">
                {% if form.clave.errors %}
                <div class="alert alert-danger">{{ form.clave.errors }}</div>
                {% endif %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Recordarme
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block"  id="btnEnviar" type="submit">Ingresar</button>
              </div>
            </form>
            <p >¿olvidaste tu contraseña? <a href="#">Recuerdala</a></p>

          </div><!-- col -->
          </div><!-- row-->
      </div><!--box_signin -->

{% endblock %}
