{% extends 'template.html' %}
{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Inicio</a></li>
        <li class="active">mi perfil</li>
    </ol>
    <div class="row">


        <div class="col-md-3">
            <h2><font><font><img src="/media/{{ usuario.foto }}" class='img-circle' alt="Foto" > </font></font></h2>
            <h2><font><font>{{ usuario.first_name }} {{ usuario.last_name }}</font></font></h2>
        </div>

        <div class="col-md-8">

          <form method="post" action="{% url 'me' %}" enctype="multipart/form-data" >
            {% csrf_token %}
            <label>Username </label><input type="text" class="form-control" name="username"  value="{{ usuario.username }}" >
            <label>Nombre </label><input type ="text" class="form-control" name="first_name"  value="{{ usuario.first_name }}" >
            <label>Apellido </label><input type="text" class="form-control" name="last_name"  value="{{ usuario.last_name }}" >
            <label>Correo </label><input  type="email" class="form-control" name="email"  value="{{ usuario.email }}" >
            <label>Ciudad </label>
            <select name="ciudad" class="form-control" >
              <option value="0"  >-- Indica de que ciudad eres --</option>
              {% for ciudad in ciudades %}
                    <option  value="{{ ciudad.id }}" {% if ciudad.id == usuario.ciudad.id %} selected{% endif%}>{{ ciudad.nombre }}</option>
              {% endfor %}
            </select>
            <label>Cambiar Foto </label>
          <input type="file" name="newfoto" value="Cambiar Foto" class="form-control"/>
          <br/>
          <input type="submit" class="btn btn-primary pull-right"  value="Actualizar Perfil" />
          </form>


        </div>


    </div><!-- row -->


</div><!--container -->

{% endblock %}
